.roles {
    /* nicoledominguez.com */
    color: #81817b;
    display: block;
    font-family: "adelle","Adelle",Georgia,serif;
    font-size: 0.6em;
    font-weight: 300;
    margin: 0 0 5px;
    position: relative;
    text-transform: uppercase;
    top: -5px;
    word-spacing: 1px;
}
