a.project {
    text-decoration: none;
}

div.project {
    display:inline-block;
    padding-bottom:2em;
}

img.project {
    display:inline-block;
    border:3px solid $gray-border;
    border-radius:100px;
    box-shadow:2px 2px 2px $gray-shadow;
    max-height:100px;
    min-width:100px;
    max-width:100%;
}
